.text_sub2{
    color: var(--color-primary);
}


:root {
    --color-primary: #f24822;
    --color-text-one: white;
    --color-text-two: #e7cc9e9a;
}
.how_to{
    padding-top: 20% !important;
}

.dark_bg{
    background-color: var(--color-text-three);
}

:root {
    --color-primary:  rgb(10, 10, 46);
    --color-text-one: white;
    --color-text-two: lightblue;
    --color-text-three: #191919;
}
.flip-card {
    background-color: white;
    width: 300px;
    height: 434px;
    perspective: 1000px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  
  .bg_grey{
    background-color: #eee;
    padding: 50px;
    height: 50%;
    margin-bottom: 40px;
    

    
  }
  
  .card_img{
    width: 300px;
    height: 300px;
  }


.hero-header2{
    background-image: url(/investment_img/stylish-scandinavian-living-room-with-design-mint-sofa-furnitures-mock-up-poster-map-plants-eleg_1258-152154.jpeg);
    background-size: 100%;
    background-position: center;
    min-height: 50vh;
    background-repeat: no-repeat;
}