nav {
    /* background-color: rgb(199, 194, 194); */
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 !important;
    display: flex;




}

.home {
    background-color: var(--color-text-two);
    /* height: 550px; */
    padding-bottom: 40px !important;
}

.my_nav {
    display: flex;
    justify-content: space-between !important;
}

.nav_active {
    color: var(--color-primary);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    --tw-text-opacity: 1 !important;
    font-family: Marko One !important;

}

.navbar-nav {
    padding-left: 10% !important;
}

.nav-item a {
    color: rgb(25 25 25 / var(--tw-text-opacity));
    /* font-weight: 600; */
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Inter, sans-serif;
    padding: 0 11px !important;

}

.navbar-nav2 {
    padding-left: 10% !important;
}

input {
    background: transparent;
    line-height: unset;
    font-size: unset;
}

.list-unstyled .form-control {
    border: none;
    /* Remove border */
    background-color: transparent;
    /* Transparent background */
    width: 75px;
    /* Set width */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margin */
}

.card_width {
    width: 360px
}

.btn_sign {
    background-color: #191919;
    color: var(--color-text-one) !important;
    border-radius: 13px;
    padding: 11px 30px !important;
    border: none;
}

.head_text {
    font-weight: 650 !important;
    font-size: 45px;
    line-height: 140%;

}

.head_text4 {
    color: #406F85;
    font-size: 21px;
    font-weight: 400;
}

.text_sub {
    font-size: 1.22rem;
    color: grey;
    font-weight: 300;

}

.get_start {
    background-color: var(--color-text-two);
    border-radius: 13px;
    padding: 60px;
    width: 100%;

}

.head_text2 {
    font-weight: 650 !important;
    font-size: 34px;
    line-height: 140%;

}

.btn_start {
    background-color: #191919;
    border-radius: 13px;
    padding: 13px 25px;
    border: none;
    color: white;

}

.child_wrapper {
        background-color: #d4b277b0;
    padding: 30px;
    border-radius: 13px;
    height: 105%;
    width: 105%;
}

.img_shadow {
    background-color: var(--color-text-one);
    border-radius: 50%;
    padding: 5px 5px !important;
    border: none;
    --tw-shadow: 0px 30px 30px 0px #91aebb33;
    --tw-shadow-colored: 0px 30px 30px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.explore-more {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 20px;
}


.arrow {
    display: inline-block;
    transition: transform 0.5s ease;
}



.explore-more:hover .arrow {
    transform: translateX(8px);
}

:root {
    --color-primary: #f24822;
    --color-text-one: white;
    --color-text-two: #e7cc9e9a;
}

.content {
    display: flex;
    justify-content: space-between;
}

.card_text {
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 10px;
}

.btn_sign2 {
    padding: 0 30px !important;
    background-color: #191919;
    color: var(--color-text-one) !important;
    border-radius: 13px;
    border: none;
}

.li_style {
    font-weight: 500;
    font-size: 19px;
}

.pm {
    margin-left: 100px
}

.text_next {
    color: var(--color-primary);
}

.consult {
    background-color: #191919;
    padding: 10% 0;
}

.card_width {
    width: 360px;
}

.sup {
    font-size: 30px;
}

.wrapper {
    background-color: #C1C0C1;
    border-radius: 10px;
    text-align: center;
    padding: 45px 22%;
    margin-top: 10%;
}

input::placeholder {
    text-indent: 10px;
    font-size: 14px;
}

.footer {
    padding-top: 15%;
    padding-bottom: 5%;
}

@media (max-width: 1195px) {
    .nav-item a {
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: Inter, sans-serif;
        padding: 0 0 !important;

    }

    .drop_icon {
        display: none;
    }

    .btn_sign {
        background-color: #191919;
        color: var(--color-text-one) !important;
        border-radius: 13px;
        font-size: 13px !important;
        padding: 11px 28px !important;
        border: none;
    }

    .head_text2 {
        font-weight: 650 !important;
        font-size: 20px;
        line-height: 140%;

    }

}

@media (max-width: 1195px) {
    .nav-item a {
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: Inter, sans-serif;
        padding: 0 11px !important;

    }

    .card_width {
        width: 300px;
    }

    .head_text2 {
        font-weight: 650 !important;
        font-size: 25px;
        line-height: 140%;

    }

    .head_text4 {
        color: #406F85;
        font-size: 18px;
        font-weight: 400;
    }

    .card_p {
        /* margin-left: 5px !important; */
    }

}

@media (max-width: 991px) {
    .sup {
        font-size: 16px;
    }

    .child_wrapper {
        padding: 50px;
        border-radius: 13px;
        height: 102%;
        width: 118%;
    }

    .card_width {
        width: 280px;
    }

    .btn_sign2 {
        padding: 0 20px !important;
        background-color: #191919;
        color: var(--color-text-one) !important;
        border-radius: 13px;
        border: none;
    }

    .img_height {
        height: 100% !important;
        width: 82%;
    }

    .img_height2 {
        height: 80% !important;
        width: 95%;
    }

    .text_sm {
        font-size: 15px;
    }
}

@media (max-width: 670px) {
    .search_sm {
        display: none;
    }

    .child_wrapper {
        background-color: #FAEFE6;
        padding: 50px;
        border-radius: 13px;
        height: 90%;
        width: 100%;
        margin: 10px 0 !important;

    }

    .sm_card {
        margin-right: 10px !important;
    }

    .card_width {
        width: 370px;
        margin-top: 15px;
    }

    .btn_start {
        margin-top: 10px;
        margin-right: 5px;
    }
    .input_sm{
        margin-left: 20px;
    }
}